*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --navbar-height: 3em;
    --footer-height: 3em
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a {
    all: unset;
}

ul {
    list-style: none;
}

header {
    background-color: #eee;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    padding: 1em 2em;
    text-align: center;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5em;
    padding-block: 1em var(--navbar-height);
    padding-inline: 1em;
}

.imageWrapper {
    position: relative;
    overflow: hidden;
}

.imageWrapper>img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}


.footer {
    background-color: #eee;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    min-height: var(--footer-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress
{
    height: 10px;
    background-color: plum;
    position: fixed;
    left: 0;
    top: 0;
}

@media screen and (max-width: 39rem) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 18rem) {
    html {
        font-size: .65rem;
    }

    .navList {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-inline: 0;
        gap: 10px;

    }

    header {
        padding-block: 1em;
    }

    .container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}