body {
    font-family: Arial, sans-serif;
}

.chat-container {
    max-width: 40em;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 1.25em;
    background-color: #f9f9f9;
    border-radius: .5em;
}


.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.message.from-me {
    background-color: #d1f7d1;
    text-align: right;
}

.message.from-them {
    background-color: #f1f1f1;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    margin-top: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}