body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
}

.videoPlayer {
    position: relative;
    width: 100%;
    max-width: 42em;
    background: #000;
    border: 2px solid #444;
    border-radius: .625em;
    overflow: hidden;
}

video {
    width: 100%;
    display: block;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .625em;
    background: #222;
}

.play,
.pause {
    font-size: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.play span,
.pause span {
    display: none;
}

.play span:first-child {
    display: inline-block;
}

.pause span:last-child {
    display: inline-block;
}


.progressBar {
    flex-grow: 1;
    margin: 0 .625em;
    cursor: pointer;
}

.volumeSlider {
    width: 100%;
    max-width: 5em
}


@media (max-width: 42em)
{
    body
    {
        align-items: start;
    }
    .videoPlayer
    {
        border: none;
        border-radius: 0;
    }
}