body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1.25em;
}

h2 {
    font-size: 1.5em;
}

#calendar table {
    width: 100%;
    border-collapse: collapse;
}

#calendar th,
#calendar td {
    padding: 0.625em;
    text-align: center;
    border: 1px solid #ccc;
}

button {
    padding: 0.3125em 0.625em;
    cursor: pointer;
    margin-top: 0.3125em;
}

button:hover {
    background-color: #f0f0f0;
}

#login-form {
    width: 18.75em;
    margin: 0 auto;
    padding: 1.25em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    background-color: #f9f9f9;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
}

#login-form h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1.25em;
    color: #333;
}

#login-form input {
    width: 100%;
    padding: 0.625em;
    margin: 0.625em 0;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    font-size: 1em;
}

#login-form input:focus {
    border-color: #007bff;
    outline: none;
}

#login-form button {
    width: 100%;
    padding: 0.625em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.25em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login-form button:hover {
    background-color: #0056b3;
}

#login-form p {
    color: red;
    font-size: 0.875em;
    text-align: center;
    margin-top: 0.625em;
}

